* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: $grey;
}

.container {
    padding: 10% 5%;
}

.header {
    font-size: 4vh;
            font-weight: normal;
            padding-bottom: 50px;

}