.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: $white;
    font-size: 1.8vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2000;
    padding: 0 10%;
    border-bottom: 1px solid $blue;

    .navbar-toggle {
        display: none;
    }

    .logo {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        justify-items: start;

        img {
            padding: 5px 0;
            height: 55px;
        }
    }

    .main-nav {
        padding-right: 0px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: end;
        align-self: center;
        list-style-type: none;

        a {
            padding: 18px 20px;
            text-decoration: none;
            color: $black;
            transition-duration: 0.2s;

            &:hover {
                border-bottom: 3px solid $pink;
            }

            &:active {
                background-color: $blue;
            }
        }
    }

    @include breakpoint(tablet) {
        .logo {
            display: inline-block;

            img {
                height: 35px;
            }

        }

        .main-nav {
            list-style-type: none;
            display: none;

            li {
                text-align: center;
                margin: 15px auto;

                a {
                    text-decoration: none;
                    color: $black;
                    transition-duration: 0.2s;

                    &:hover {
                        color: $pink;
                    }

                    &:active {
                        color: $blue;
                    }
                }
            }
        }

        .navbar-toggle {
            display: block;
            position: absolute;
            top: 5px;
            right: 10%;
            cursor: pointer;
            color: $pink;
            font-size: 3vh;
        }

        .active {
            display: block;
        }
    }

    @include breakpoint(mobileonly) {
        .logo {
            display: inline-block;

            img {
                height: 35px;
            }

        }

        .main-nav {
            list-style-type: none;
            display: none;

            li {
                text-align: center;
                margin: 15px auto;

                a {
                    text-decoration: none;
                    color: $black;
                    transition-duration: 0.2s;

                    &:hover {
                        color: $pink;
                    }

                    &:active {
                        color: $blue;
                    }
                }
            }
        }

        .navbar-toggle {
            display: block;
            position: absolute;
            top: 5px;
            right: 10%;
            cursor: pointer;
            color: $pink;
            font-size: 3vh;
        }

        .active {
            display: block;
        }
    }