* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: #5f6366;
}

.container {
  padding: 10% 5%;
}

.header {
  font-size: 5vh;
  font-weight: normal;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 3vh;
    text-align: start;
  }
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 3vh;
    text-align: center;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 1.8vh;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
  padding: 0 10%;
}

nav .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[4];
      grid-template-columns: repeat(4, 2fr);
  justify-items: start;
}

nav .left img {
  padding: 5px 0;
  height: 55px;
}

nav .right {
  padding-right: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  justify-items: end;
  -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
}

nav .right a {
  padding: 18px 20px;
  text-decoration: none;
  color: #000000;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

nav .right a:hover {
  border-bottom: 3px solid #edb5bf;
}

nav .right a:active {
  background-color: #99ced3;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
}

.home {
  background-color: #99ced3;
}

.home .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container .left {
  -ms-grid-column-align: end;
      justify-self: end;
}

.home .container .left h2 {
  font-size: 3.5vh;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .home .container .left h2 {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .home .container .left h2 {
    font-size: 2vh;
  }
}

.home .container .left h1 {
  font-size: 5vh;
  font-family: 'Parisienne', cursive;
  font-weight: lighter;
  color: #ffffff;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .home .container .left h1 {
    font-size: 3.5vh;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .home .container .left h1 {
    font-size: 3.5vh;
    padding-left: 0;
  }
}

.home .container .left p {
  font-size: 1.8vh;
}

@media screen and (max-width: 768px) {
  .home .container .left p {
    font-size: 1.2vh;
  }
}

@media screen and (max-width: 600px) {
  .home .container .left p {
    font-size: 1.2vh;
  }
}

.home .container .left ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .home .container .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .home .container .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.home .container .left ul li {
  padding: 30px;
}

.home .container .left ul li i {
  font-size: 3vh;
  color: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.home .container .left ul li i:hover {
  color: #5f6366;
}

.home .container .left ul li i:active {
  color: #edb5bf;
}

@media screen and (max-width: 768px) {
  .home .container .left ul li i {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .home .container .left ul li i {
    font-size: 2vh;
  }
}

@media screen and (max-width: 768px) {
  .home .container .left {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .home .container .left {
    text-align: center;
  }
}

.home .container .right {
  -ms-grid-column-align: center;
      justify-self: center;
}

.home .container .right img {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .home .container .right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .home .container .right img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .home .container {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .home .container {
    display: inline-block;
    width: 100%;
  }
}

.about .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container h1 {
  -ms-grid-column-align: start;
      justify-self: start;
}

.about .container h1 span {
  color: #edb5bf;
}

@media screen and (max-width: 768px) {
  .about .container h1 {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .about .container h1 {
    padding-bottom: 0;
  }
}

.about .container .left .blue {
  color: #edb5bf;
  font-size: 2.5vh;
  padding-bottom: 10px;
}

.about .container .left .blue span {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .about .container .left .blue {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .about .container .left .blue {
    font-size: 2vh;
  }
}

.about .container .left p {
  font-size: 1.8vh;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .about .container .left p {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 600px) {
  .about .container .left p {
    font-size: 1.5vh;
  }
}

.about .container .right {
  -ms-grid-column-align: center;
      justify-self: center;
}

.about .container .right img {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .about .container .right img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .about .container .right img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .about .container {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .about .container {
    display: inline-block;
  }
}

.service {
  background-color: #99ced3;
}

.service .container h1 span {
  color: #ffffff;
}

.service .container .bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.service .container .bottom .item-service {
  text-align: center;
}

.service .container .bottom .item-service i {
  color: #ffffff;
  font-size: 5vh;
}

@media screen and (max-width: 768px) {
  .service .container .bottom .item-service i {
    font-size: 3.5vh;
  }
}

@media screen and (max-width: 600px) {
  .service .container .bottom .item-service i {
    font-size: 3.5vh;
  }
}

.service .container .bottom .item-service h3 {
  padding: 15px;
  font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
  .service .container .bottom .item-service h3 {
    margin: 0;
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .service .container .bottom .item-service h3 {
    margin: 0;
    font-size: 2vh;
  }
}

.service .container .bottom .item-service p {
  font-size: 1.8vh;
  padding: 15px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .service .container .bottom .item-service p {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 600px) {
  .service .container .bottom .item-service p {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 768px) {
  .service .container .bottom {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .service .container .bottom {
    display: inline-block;
  }
}

.skills .container .circle-name {
  color: #edb5bf;
  text-align: center;
  font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
  .skills .container .circle-name {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .skills .container .circle-name {
    font-size: 2vh;
  }
}

.skills .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .skills .container .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .skills .container .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

.skills .container .column {
  width: 70%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .skills .container .column {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .skills .container .column {
    width: 80%;
  }
}

.contact {
  background-color: #5f6366;
}

.contact .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: #edb5bf;
}

.contact .container .left {
  margin: auto 0;
}

.contact .container .left .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  padding: 20px 0;
}

.contact .container .left .item i {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3vh;
}

@media screen and (max-width: 768px) {
  .contact .container .left .item i {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .contact .container .left .item i {
    font-size: 2vh;
  }
}

.contact .container .left .item p {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact .container .left .item p a {
  color: #edb5bf;
}

.contact .container .left .item p a:hover {
  color: #ffffff;
}

.contact .container .left .item p a:active {
  color: #99ced3;
}

@media screen and (max-width: 768px) {
  .contact .container .left .item p {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .contact .container .left .item p {
    font-size: 2vh;
  }
}

.contact .container .right {
  margin: auto 0;
}

.contact .container .right ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  list-style-type: none;
}

.contact .container .right ul li a {
  color: #edb5bf;
  font-size: 3vh;
}

.contact .container .right ul li a:hover {
  color: #ffffff;
}

.contact .container .right ul li a:active {
  color: #99ced3;
}

@media screen and (max-width: 768px) {
  .contact .container .right ul li a {
    font-size: 2vh;
  }
}

@media screen and (max-width: 600px) {
  .contact .container .right ul li a {
    font-size: 2vh;
  }
}

@media screen and (max-width: 768px) {
  .contact .container .right {
    padding-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .contact .container {
    display: inline-block;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact .container {
    display: inline-block;
    width: 100%;
  }
}

footer {
  background-color: #edb5bf;
  padding: 1% 5%;
  text-align: end;
  font-size: 2vh;
}

footer span {
  font-family: 'Parisienne', cursive;
  font-size: 3vh;
}

@media screen and (max-width: 768px) {
  footer span {
    font-size: 1.8vh;
  }
}

@media screen and (max-width: 600px) {
  footer span {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 600px) {
  footer {
    font-size: 1.2vh;
  }
}
/*# sourceMappingURL=styles.css.map */