.about {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        h1 {
            justify-self: start;

            span {
                color: $color-pink;
            }

            @include breakpoint(tablet) {
                padding-bottom: 0;
            }

            @include breakpoint(mobileonly) {
                padding-bottom: 0;
            }
        }

        .left {

            .blue {
                color: $color-pink;
                font-size: 2.5vh;
                padding-bottom: 10px;

                span {
                    font-style: italic;
                }

                @include breakpoint(tablet) {
                    font-size: 2vh;
                }

                @include breakpoint(mobileonly) {
                    font-size: 2vh;
                }
            }

            p {
                font-size: 1.8vh;
                text-align: justify;
                padding-bottom: 10px;

                @include breakpoint(tablet) {
                    font-size: 1.5vh;
                }

                @include breakpoint(mobileonly) {
                    font-size: 1.5vh;
                }
            }

        }

        .right {
            justify-self: center;

            img {
                height: 300px;

                @include breakpoint(tablet) {
                    display: none;
                }

                @include breakpoint(mobileonly) {
                    display: none;
                }
            }

        }

        @include breakpoint(tablet) {
            display: inline-block;
        }

        @include breakpoint(mobileonly) {
            display: inline-block;
        }
    }

}