.about {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;

        
        .left {
            h1 {
                span {
                    color: $pink;
                }
            }
            .blue {
                color: $pink;
                font-size: 2.5vh;
                padding-bottom: 10px;

                span {
                    font-style: italic;
                }
            }
            p{
                font-size: 1.8vh;
                text-align: justify;
            }
            
        }

        .right {
            img {
                height: 300px;
            }
        }
    }
}