.contact {
    background-color: $grey;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "i1 sm""i2 sm""i3 sm";
        color: $pink;

        .item-1 {
            grid-area: i1;
        }

        .item-2 {
            grid-area: i2;
        }

        .item-3 {
            grid-area: i3;
        }

        .item-1,
        .item-2,
        .item-3 {
            display: grid;
            grid-template-columns: 1fr 5fr;
            padding: 20px 0;

            i {
                justify-self: center;
                align-self: center;
                font-size: 3vh;

                @include breakpoint(tablet) {
                    font-size: 2vh;
                }

                @include breakpoint(mobileonly) {
                    font-size: 2vh;
                }
            }

            p {
                justify-self: start;
                align-self: center;

                a {
                    color: $pink;

                    &:hover {
                        color: $white;
                    }

                    &:active {
                        color: $blue;
                    }

                }

                @include breakpoint(tablet) {
                    font-size: 2vh;
                }

                @include breakpoint(mobileonly) {
                    font-size: 2vh;
                }
            }
        }

        .right {
            margin: auto 0;
            grid-area: sm;

            ul {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-items: center;
                list-style-type: none;

                li {

                    a {
                        color: $pink;
                        font-size: 3vh;

                        &:hover {
                            color: $white;
                        }

                        &:active {
                            color: $blue;
                        }

                        @include breakpoint(tablet) {
                            font-size: 2vh;
                        }

                        @include breakpoint(mobileonly) {
                            font-size: 2vh;
                        }
                    }
                }

            }

            @include breakpoint(tablet) {
                padding-top: 30px;
            }
        }

        @include breakpoint(tablet) {
            display: inline-block;
            width: 100%;
        }

        @include breakpoint(mobileonly) {
            display: inline-block;
            width: 100%;
        }
    }
}