footer {
    background-color: $color-pink;
    padding: 1% 5%;
    text-align: end;
    font-size: 2vh;

    span {
        font-family: 'Parisienne', cursive;
        font-size: 3vh;

        @include breakpoint(tablet) {
            font-size: 1.8vh;
        }

        @include breakpoint(mobileonly) {
            font-size: 1.5vh;
        }
    }

    @include breakpoint(tablet) {
        font-size: 1.5vh;
    }

    @include breakpoint(mobileonly) {
        font-size: 1.2vh;
    }
}