.home {
    background-color: $blue;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;


        .left {
            justify-self: end;

            h2 {
                font-size: 3.5vh;
                font-weight: normal;

                @include breakpoint(tablet) {
                    font-size: 2vh;
                }

                @include breakpoint(mobileonly) {
                    font-size: 2vh;
                }
            }

            h1 {
                font-size: 5vh;
                font-family: 'Parisienne', cursive;
                font-weight: lighter;
                color: $white;
                padding-left: 30px;

                @include breakpoint(tablet) {
                    font-size: 3.5vh;
                    padding-left: 0;
                }

                @include breakpoint(mobileonly) {
                    font-size: 3.5vh;
                    padding-left: 0;
                }
            }

            p {
                font-size: 1.8vh;

                @include breakpoint(tablet) {
                    font-size: 1.2vh;
                }

                @include breakpoint(mobileonly) {
                    font-size: 1.2vh;
                }
            }

            ul {
                list-style-type: none;
                display: flex;
                
                @include breakpoint (tablet) {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                }

                @include breakpoint (mobileonly) {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                }
                
                li {
                    padding: 30px;

                    i {
                        font-size: 3vh;
                        color: $white;
                        transition-duration: 0.2s;

                        &:hover {
                            color: $grey;
                        }

                        &:active {
                            color: $pink;
                        }

                        @include breakpoint(tablet) {
                            font-size: 2vh;
                        }

                        @include breakpoint(mobileonly) {
                            font-size: 2vh;
                        }
                    }
                }
            }

            @include breakpoint(tablet) {
                text-align: center;
            }

            @include breakpoint(mobileonly) {
                text-align: center;
            }
        }

        .right {
            justify-self: center;

            img {
                height: 300px;

                @include breakpoint(tablet) {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                }

                @include breakpoint(mobileonly) {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;

                }
            }

        }

        @include breakpoint(tablet) {
            display: inline-block;
            width: 100%;
        }

        @include breakpoint(mobileonly) {
            display: inline-block;
            width: 100%;
        }
    }
}