.service {
    background-color: $color-blue;

    .container {
        h1 {

            span {
                color: $color-white;
            }
        }

        .bottom {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .item-service {
                text-align: center;

                i {
                    color: $color-white;
                    font-size: 5vh;
                    
                    @include breakpoint(tablet) {
                        font-size: 3.5vh;
                    }

                    @include breakpoint(mobileonly) {
                        font-size: 3.5vh;
                    }
                }

                h3 {
                    padding: 15px;
                    font-size: 2.5vh;

                    @include breakpoint(tablet) {
                        margin: 0;
                        font-size: 2vh;
                    }

                    @include breakpoint(mobileonly) {
                        margin: 0;
                        font-size: 2vh;
                    }
                }

                p {
                    font-size: 1.8vh;
                    padding: 15px;
                    text-align: justify;

                    @include breakpoint(tablet) {
                        font-size: 1.5vh;
                    }

                    @include breakpoint(mobileonly) {
                        font-size: 1.5vh;
                    }
                }
            }

            @include breakpoint(tablet) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @include breakpoint(mobileonly) {
                display: inline-block;
            }
        }
    }
}