.skills {
    .container {

        .circle-name {
            color: $pink;
            text-align: center;
            font-size: 2.5vh;

            @include breakpoint(tablet) {
                font-size: 2vh;
            }

            @include breakpoint(mobileonly) {
                font-size: 2vh;
            }
        }

        .row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;

            @include breakpoint(tablet) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
            }

            @include breakpoint(mobileonly) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
            }
        }

        .column {
            width: 70%;
            padding: 10px;

            @include breakpoint(tablet) {
                width: 60%;
            }

            @include breakpoint(mobileonly) {
                width: 80%;
            }
        }

    }

}